/* styles.css */

html { 
	background-color: lightblue;
	background-image: 
		linear-gradient(lightsteelblue, midnightblue);
}

h1 {
	font-family: Georgia;
	color: powderblue;
	font-size: 220px;
	font-weight: italics;
	letter-spacing: 10px;
}

div {
	font-family: Georgia;
	color: powderblue;
	font-size: 30px;
	letter-spacing: 5px;
	margin: 30px;
}

.aquamarine {
	color: aquamarine;
}
